# Enable the mod_rewrite module
RewriteEngine On

# Rewrite rules for the admin section
RewriteCond %{REQUEST_URI} ^/phpmvc/admin [NC]
# Route requests to the admin section
RewriteRule .* views/admin/index.php [L,QSA]

# Rewrite rules for all other requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/phpmvc/views/$1.php -f
RewriteRule ^(.+)$ /phpmvc/views/$1.php [L,QSA]
