<?php
  define("APP_MAIL", "your mail app account");
  define("APP_PASS", "your mail app password");

  define("DB_HOST", "localhost");
  define("DB_USER", "root");
  define("DB_PASS", "");
  define("DB_NAME","your database name");
?>